<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#002244">
    <meta name="color-scheme" content="light dark">
    <title>Reference Materials - Education Resources</title>

    <!-- Orion global CSS -->
    <link rel="stylesheet" href="/package/dist/orion-web-components/orion-web-components.css">

    <!-- App global styles -->
    <link rel="stylesheet" href="/css/global.css">

    <!-- Reference Materials styles -->
    <link rel="stylesheet" href="/components/reference-materials/reference-materials.css">

</head>
<body>

    <main>
        <div class="main-content--wrapper">
            <div class="main-content">

                <div class="references">
                    <a class="back-link js-link hidden-sm" href="more.html">
                        <i class="orion-icon orion-icon-arrow_left"></i>
                        <span>Go back</span>
                    </a>
                    <ul class="list-group list-group--column">
                        <li class="list-group__item">
                            <a href="#">
                                <i class="orion-icon orion-icon-detach"></i>
                                <span>iPad Setup<small>Flying Together</small></span>
                            </a>
                        </li>
                        <li class="list-group__item">
                            <a href="#">
                                <i class="orion-icon orion-icon-detach"></i>
                                <span>UPA Page<small>Flying Together</small></span>
                            </a>
                        </li>
                        <li class="list-group__item">
                            <a href="#">
                                <i class="orion-icon orion-icon-detach"></i>
                                <span>Pilot Pay Reference Guide<small>Flying Together</small></span>
                            </a>
                        </li>
                        <li class="list-group__item">
                            <a href="#">
                                <i class="orion-icon orion-icon-detach"></i>
                                <span>Pilot Pay Reference Library<small>Flying Together</small></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>


    <!-- Reference Materials JS -->
    <script src="/components/reference-materials/reference-materials.js"></script>
</body>
</html>