<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#002244">
    <meta name="color-scheme" content="light dark">
    <title>Reference Materials</title>

    <!-- Orion global CSS -->
    <link rel="stylesheet" href="/package/dist/orion-web-components/orion-web-components.css">

    <!-- App global styles -->
    <link rel="stylesheet" href="/css/global.css">

    <!-- Reference Materials styles -->
    <link rel="stylesheet" href="/components/reference-materials/reference-materials.css">

</head>
<body>

    <main>

        <div class="main-content--wrapper">
            <div class="main-content">

                <div class="references">
                    <div class="text-right ">
                        <a class="references__accordion-collapse js-collapse-all-refs" href="#">Collapse All</a>
                    </div>
                    <button type="button" class="references__accordion-header js-collapsible active">
                        <span class="references__accordion-heading">
                            Resources
                        </span>
                        <span class="references__accordion-icon">
                            <i class="orion-icon orion-icon-chevron_open"></i>
                            <i class="orion-icon orion-icon-chevron_close"></i>
                        </span>
                    </button>
                    <div class="references__accordion-panel">
                        <ul class="list-group">
                            <li class="list-group__item">
                                <a href="ccs-user-guides.html">CCS User Guides</a>
                            </li>
                            <li class="list-group__item">
                                <a href="/demo/sprint2/feature-spotlights.html">Video Resources</a>
                            </li>
                            <li class="list-group__item">
                                <a href="education-resources.html">Education Resources</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Other Resources</a>
                            </li>
                        </ul>
                    </div>
            
                    <button type="button" class="references__accordion-header js-collapsible active">
                        <span class="references__accordion-heading">
                            Placeholder
                        </span>
                        <span class="references__accordion-icon">
                            <i class="orion-icon orion-icon-chevron_open"></i>
                            <i class="orion-icon orion-icon-chevron_close"></i>
                        </span>
                    </button>
                    <div class="references__accordion-panel">
                        <ul class="list-group">
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                        </ul>
                    </div>
            
                    <button type="button" class="references__accordion-header js-collapsible active">
                        <span class="references__accordion-heading">
                            Placeholder
                        </span>
                        <span class="references__accordion-icon">
                            <i class="orion-icon orion-icon-chevron_open"></i>
                            <i class="orion-icon orion-icon-chevron_close"></i>
                        </span>
                    </button>
                    <div class="references__accordion-panel">
                        <ul class="list-group">
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                        </ul>
                    </div>
            
                    <button type="button" class="references__accordion-header js-collapsible active">
                        <span class="references__accordion-heading">
                            Placeholder
                        </span>
                        <span class="references__accordion-icon">
                            <i class="orion-icon orion-icon-chevron_open"></i>
                            <i class="orion-icon orion-icon-chevron_close"></i>
                        </span>
                    </button>
                    <div class="references__accordion-panel">
                        <ul class="list-group">
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                        </ul>
                    </div>
            
                    <button type="button" class="references__accordion-header js-collapsible active">
                        <span class="references__accordion-heading">
                            Placeholder
                        </span>
                        <span class="references__accordion-icon">
                            <i class="orion-icon orion-icon-chevron_open"></i>
                            <i class="orion-icon orion-icon-chevron_close"></i>
                        </span>
                    </button>
                    <div class="references__accordion-panel">
                        <ul class="list-group">
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                            <li class="list-group__item">
                                <a href="#">Placeholder</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Reference Materials JS -->
    <script src="/components/reference-materials/reference-materials.js"></script>
</body>
</html>