<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#002244">
    <meta name="color-scheme" content="light dark">
    <title>Sprint 2 - Feature Spotlights</title>

    <!-- Orion global CSS -->
    <link rel="stylesheet" href="/package/dist/orion-web-components/orion-web-components.css">

    <!-- App global styles -->
    <link rel="stylesheet" href="/css/global.css">


    <!-- Feature Spotlights styles -->
    <link rel="stylesheet" href="feature-spotlights.css">


</head>
<body>


    <main>

        <div id="feature-spotlights" class="main-content--wrapper"> 
            <div class="main-content">
                <div>
                    <a class="back-link js-link" href="#">
                        <i class="orion-icon orion-icon-arrow_left"></i>
                        <span>Back to More menu</span>
                    </a>
                </div>
                <div>
                    <h2>Feature Spotlights</h2>

                    <!-- 
                        This feature spotlights items below (with class="feature-spotlights") should be integrated into an Angular Material or PrimeNG carousel 
                        Design specs: https://unitedux.invisionapp.com/console/PCCS-Handoff-cl8svrlbo052d012e4m60byci/clbo0iwdw040901c2g5q11zkj/play

                        The carousel should only work in mobile/tablet.  For desktop (at around 1215px width), the feature spotlights should be displayed in a 3 column grid.

                        Once the carousel is integrated, please reach out to the UI dev on the UX team for styling help.
                    -->


                    <div class="feature-spotlights">
                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>
                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                                
                        </figure>
                        
                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>
                
                    
                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>

                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>

                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>
                    </div>

                    <h2>Placeholder</h2>
                    <div class="feature-spotlights">
                        
                        <figure class="feature-spotlight">
                            <video id='video' controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>
                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>
                        
                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>
                
                    
                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>

                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source  src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>

                        <figure class="feature-spotlight">
                            <video controls="controls" preload='none' width="600" poster="https://assets.codepen.io/32795/poster.png">
                                <source  src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' >
                                <source src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' >
                            </video>
                            <figcaption>
                                <div class="feature-spotlight__title">Placeholder Title</div>
                                <div class="feature-spotlight__description">Lorem ipsum dolor sit amet, consetetur adipisicing elit. Donec odio.</div>
                            </figcaption>
                        </figure>
                    </div>
                 
                </div>

            </div>
        </div>

    </main>



</body>
</html>