<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Group</title>

    <!-- Orion global CSS -->
    <link rel="stylesheet" href="/package/dist/orion-web-components/orion-web-components.css">

    <!-- App global styles -->
    <link rel="stylesheet" href="/css/global.css">

    <link rel="stylesheet" href="/components/list-group/list-group.css">
    
</head>
<body>
    <ul class="list-group">
        <li class="list-group__item">
            list item 1
        </li>
        <li class="list-group__item">
            list item 2
        </li>
        <li class="list-group__item">
            list item 3
        </li>
    </ul>
</body>
</html>