.list-group {

    --list-item-padding: 18px;

    padding: 0 var(--list-item-padding);

    &__item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: var(--list-item-padding) 0;
        border-top: 1px solid #cfcfcf;

        .list-group__link {
            margin: calc(-1 * var(--list-item-padding)) 0;
            padding: var(--list-item-padding) 0;
            width: auto;

            .orion-icon {
                display: flex;
                font-size: 24px;
                color: var(--orion-atlantic-amethyst, #6244bb);
                margin-right: 8px;
            }
        }
    }
    &__item:first-child {
        border-top: none;
    }

    &__link{

        display: flex;
        flex: 1;
        justify-content: space-between;
        gap: 8px;
        

        &:link, &:visited {
            color: var(--orion-gray-80, #333);
            text-decoration: none;
            font-weight: var(--orion-font-weight-normal, 400);
        }

        .orion-icon {
            flex-shrink: 0;
        }
    }

    &__see-all-link {
        display: inline-block;
        margin-bottom: 16px;
    }
}

